@model AmbilitySP_Desktop.Models.Contato


@{
	ViewData["Title"] = "Segunda Tela";

}


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="~/css/Estilo02.css" />
</head>
<body>
	<!-- Parte inicial da tela: informações de como descartar e dias de coleta seletiva-->
	<section class="info_01">
		<div class="text1">
			<h3>Como descartar seu lixo corretamente?</h3>

			<p class="text_descart">Voce pode descartar seu lixo seja em lixeiras publicas, na qual, a de cada cor tem seus tipos de lixo reciclaveis, assim como mostra a imagem ao lado.</p>

			<h4> Dias de coleta seletiva:</h4>

			<p class="text_days">
				Região norte litorânea: todas as quintas e terças<br />
				Região sul litorânea: todas as sextas e quartas
			</p>

			@if (ViewBag.Disponivel == "Não está disponivel")
			{
				<h4 style: "font-size: 25px; font-weight: 700">Disponibilidade:</h4>
				<p class="text-danger" style="font-size: 20px"> @ViewBag.Disponivel</p>
			}
			else
			{
				<h4 style: "font-size: 25px; font-weight: 700">Disponibilidade:</h4>
				<p class="text-success" style="font-size: 20px"> @ViewBag.Disponivel</p>
			}
		
		</div>
		<div class="img_recicla">
			<img src="~/images/recicla.jpg" />

		</div>
	</section>
	<!--Fim Parte inicial-->
	<section class="info_02">
		<div class="mapa">
			<h3>Veja o ponto de coleta mais próximo de você</h3>
			<iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d51036.17595119074!2d-46.48564537860896!3d-24.011790392389837!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1spontos%20de%20coleta%20de%20lixo!5e0!3m2!1spt-BR!2sbr!4v1718836488622!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		</div>

		<div class="text_materiais">
			<h3>Materiais que podem ser descartados:</h3>

			<p>.Entulhos de construção<br /><br />.Móveis Velhos<br /><br />.Restos Ambientais<br /><br />.Lixo Eletrônico<br /><br />.Óleo de Cozinha </p>

			<div class="img_logo2">
				<img src="~/images/logo_2.png" />

			</div>
		</div>
	</section>
	<section class="info_03">
		<div class="img_denuncia">
			<h3>Veja o ponto de coleta mais próximo de você</h3>
			<img src="~/images/denuncia.jpg" />
		</div>

		<div class="text_denuncia">
			<h3>Para realizar denúncias, ligue para qualquer um dos componentes a baixo: </h3>
			<h4>Telefones:</h4><br />
			<p>
				Ibama: <a asp-action="Ligar" asp-route-telefone="@Model.telefone"> @Model.telefone[0] </a><br />
				Orgão Estadual Litoraneo: <a asp-action="Ligar" asp-route-telefone="@Model.telefone"> @Model.telefone[1] </a>
			</p>
			<br /><br />
			<p>Denuncie! Voce esta fazendo um favor para o meio ambiente e para a saúde da população!</p>
		</div>
	</section>
	<section class="info_04">
		<div class="img_economia">
			<h3>Gráfico da economia circular</h3>
			<img src="~/images/economia_circular.png" />
		</div>

		<div class="text_economia">
			<h3>O que é a economia circular?</h3>
			<p>A Economia Circular é Basicamente é uma forma eficiente de se reutilizar produtos que antes iriam ser descartados para gerar novos produtos, um otimo exemplo são garrafas ou latinhas, em que muitas empresas grandes ja expoem isso nas proprias embalagens.</p>
		</div>
	</section>

</body>
</html>